DEBUG=True
SECRET_KEY=dev-only-change-me
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DATABASE_URL=postgres://gbb:gbb@db:5432/gbb_rates
REDIS_URL=redis://redis:6379/0

CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2

NUITEE_API_URL=https://api.liteapi.travel/v3.0
NUITEE_BOOK_API_URL=https://book.liteapi.travel/v3.0
NUITEE_API_KEY=
NUITEE_DEFAULT_CURRENCY=AUD
NUITEE_GUEST_NATIONALITY=US
